@import "./importer.scss";

a {
  color: red;
}

body {
  background-image: linear-gradient(to right, #562305 0%, #aa4400 25%, #a44015 40%, #a44015 60%, #562305 100%);
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}

form {
  display: block;
  margin: auto;
}

h1 {
  font-weight: 500;
  line-height: 1.1;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  border: 3px solid black;
  margin: auto;
  thead {
    border-collapse: collapse;
    border: 2px solid black;
    tr {
      border: 1px solid black;
      th:nth-child(1) {
        border-collapse: collapse;
        border: 1px solid black;
        text-align: center;
        min-width: 50px;
      }
      th:nth-child(2) {
        border-collapse: collapse;
        border: 1px solid black;
        text-align: center;
        min-width: 55px;
      }
      th:nth-child(3) {
        border-collapse: collapse;
        border: 1px solid black;
        text-align: center;
        min-width: 50px;
      }
      th:nth-child(4) {
        border-collapse: collapse;
        border: 1px solid black;
        text-align: center;
        min-width: 75px;
      }
      th:nth-child(5) {
        border-collapse: collapse;
        border: 1px solid black;
        text-align: center;
        min-width: 75px;
      }
    }
  }
  tbody {
    border-collapse: collapse;
    border: 2px solid black;
    tr {
      border-collapse: collapse;
      border: 1px solid black;
      td {
        border-collapse: collapse;
        border: 1px solid black;
        height: 35px;
        text-align: center;
      }
    }
  }
  tfoot {
    border-collapse: collapse;
    border: 2px solid black;
    tr {
      border-collapse: collapse;
      border: 2px solid black;
      th:nth-child(2) {
        border-collapse: collapse;
        border: 1px solid black;
        text-align: center;
      }
    }
  }
}

table, td, th {
  border-collapse: collapse;
  border: 1px solid #000;
}

table + table, table + table tr:first-child th, table + table tr:first-child td {
  border-top: 0;
}

table > tbody {
  background: #FFFFFF;
}

td, th {
  height: 27px;
}

nav {
  background-color: #BF5700 !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 4px;
  a {
    border: 1px solid transparent;
    border-bottom: 0 none;
    color: white !important;
    display: block;
    font-size: 15px;
    height: 29px;
    padding: 6px 17px 5px;
    text-decoration: none;
  }
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #a44015;
  shape-rendering: crispEdges;
}

.axis.x>.tick{
  stroke: #a44015;
}

.btn {
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
}

.container {
  background-color: #efefef;
  padding-right: 0;
  padding-left: 0;
}

.container-form {
  text-align: center;
}

.curlyBrace {
  stroke: #a44015;
  stroke-width: 2px;
  fill: none;
}

.form-actions {
  background-color: transparent;
  margin: 10px 0;
  text-align: center;
}

.form-group {
  text-align: center;
  input {
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
    width: 100%;
  }
  label {
    font-weight: 700;
  }
}

.jumbotron {
  padding-top: 15px !important;
  padding-bottom: 30px !important;
  margin-bottom: 0 !important;
}

.navbar {
  background-color: #BF5700!important;
  border-color: #a44015;
  box-shadow: rgba(0,0,0,.2) 0 0 4px 4px;
  height: 70px;
  button {
    background-color: #ddd;
  }
  ul {
    > li {
      height: 70px;
      > a {
        display: table;
        height: 70px;
        span {
          display: table-cell;
          vertical-align: middle;
        }
      }
      :hover {
        background-color: #a44015;
      }
      &.active {
        :hover {
          background-color: #a44015;
          background-color: #a44015 !important;
        }
      }
    }
  }
}

.singleBar {
  stroke-width:3;
  stroke:rgb(0,0,0);
}
.singleBar:hover,.singleBar:active {
  cursor: hand;
  cursor: pointer;
  filter: alpha(opacity=50);/* IE 5, 6, 7,8, 9 */
  -moz-opacity:0.5;/* Older than Firefox 0.9 */
  -khtml-opacity: 0.5;/* Safari 1.x (pre WebKit!) */
  opacity: 0.5;
}

.tables {
  margin-top: 10px;
}

#formContainer {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(53%, rgba(255, 255, 255, 0)), color-stop(94%, rgba(255, 255, 255, 0)), color-stop(95%, rgba(255, 255, 255, 0.17)), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, 0) 94%, rgba(255, 255, 255, 0.17) 95%, #ffffff 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, 0) 94%, rgba(255, 255, 255, 0.17) 95%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, 0) 94%, rgba(255, 255, 255, 0.17) 95%, #ffffff 100%);
  background-size: 100%;
  -webkit-border-radius: 15px;
  -moz-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: inline-block;
  max-width: 500px;
  padding: 0 20px;
  text-align: left;
}

#graph svg {
  display: block;
  margin: auto;
}

#show {
  display: block;
  margin: auto;
}

#tableInput {
  background: #993366;
  float: left;
  thead, tfoot {
    color: #FFF;
  }
}

#tableOutput {
  background: #99CCCC;
  float: left;
}